name: tp_bank
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  font_awesome_flutter: ^10.10.0
  fl_chart: ^1.1.1
  intl: ^0.20.2
  mobile_scanner: ^7.1.2
  pretty_qr_code: ^3.5.0
  dropdown_button2: ^2.3.9
  google_fonts: ^6.2.1
  material_symbols_icons: ^4.2874.0
  http: ^1.5.0
  camera: ^0.11.2          # để 1 lần ở đây thôi
  marquee: ^2.3.0
  ai_barcode_scanner: ^7.1.0
  provider: ^6.1.1         # chuyển lên dependencies
  qr_flutter:              # chuyển lên dependencies
    git:
      url: https://github.com/theyakka/qr.flutter.git
  carousel_slider: ^5.1.1  # chuyển lên dependencies
  path_provider: ^2.1.5    # chuyển lên dependencies
  blurred_overlay: ^1.0.3  # chuyển lên dependencies
  shared_preferences: ^2.3.2  # ❗ CHỖ ĐÚNG
  image_picker: ^1.1.1     # chuyển lên dependencies
  google_mlkit_barcode_scanning: ^0.11.0  # chuyển lên dependencies

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
  
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
